/* You can add global styles to this file, and also import other style files */
.bg-green{
  background-color: #89ac6c;
}

body {
  font-family: Helvetica,arial,sans-serif;
  background-color: #ecebe8;
  -webkit-font-smoothing: antialiased;
}
